## ignore All files in data directory except datasets.csv
data/*
!data/Museomics_Workshop_StAndrews_2025.pdf
!data/datasets.csv
!data/refseq/
data/refseq/*
!data/refseq/dmel/
data/refseq/dmel/*
!data/refseq/dmel/dmel_wMel_2L_100K*
results/
scripts/mapdamage2
scripts/programs
.DS_Store
