## ignore All files in data directory except datasets.csv
data/*
!data/Workshop_VI_Museomics.pdf
!data/refseq/
data/refseq/*
!data/refseq/dmel/
data/refseq/dmel/*
!data/refseq/dmel/dmel_wMel_2L_100K*
results/
.results
scripts/
QSUB/
.DS_Store
