## ignore All files in data directory except datasets.csv
data/*
!data/Workshop_VI_Museomics.pdf
!data/refseq/
data/refseq/*
!data/refseq/dmel/
data/refseq/dmel/*
!data/refseq/dmel/dmel_wMel_2L_100K*

## ignore results directory but keep figures referenced in README
results/*
!results/contamination/
!results/mapDamage/
!results/ReadDepths/
!results/SNPs/

results/contamination/*
!results/contamination/BLAST_proportion_plot.png
!results/contamination/BLAST_proportion_plot_by_RL.png
!results/contamination/ECMSD/

results/contamination/ECMSD/*
!results/contamination/ECMSD/19SL3/

results/contamination/ECMSD/19SL3/*
!results/contamination/ECMSD/19SL3/mapping/

results/contamination/ECMSD/19SL3/mapping/*
!results/contamination/ECMSD/19SL3/mapping/Mito_summary_genus_ReadLengths.png

results/mapDamage/*
!results/mapDamage/18DZ5/
!results/mapDamage/DGRP338/

results/mapDamage/18DZ5/*
!results/mapDamage/18DZ5/Fragmisincorporation_plot.png
!results/mapDamage/18DZ5/Stats_out_MCMC_hist.png

results/mapDamage/DGRP338/*
!results/mapDamage/DGRP338/Fragmisincorporation_plot.png
!results/mapDamage/DGRP338/Stats_out_MCMC_hist.png

results/ReadDepths/*
!results/ReadDepths/read_depth_distribution.png
!results/ReadDepths/coverage_distribution.png
!results/ReadDepths/read_depth_ratio.png

results/SNPs/*
!results/SNPs/combined_phylo_trees.png
!results/SNPs/combined_phylo_trees_no19SL3.png

.results
scripts/
QSUB/
.DS_Store
